:root {
    --banner-color: #89ddf5;
    --banner-text-color: black;
    --game-area-bg-color: #d4e6f1;
    --teammate-bg-color: #777;
    --teammate-border-color: #ccc;
    touch-action: pan-x pan-y; /*Disable zoom*/

    /* Disable selection of elements */
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--banner-color);
    overflow: hidden;
}

#banner {
    width: 100%;
    background-color: var(--banner-color);
    color: var(--banner-text-color);
    text-align: center;
    padding: 3px 0 3px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#banner img {
    height: 50px;
    width: auto;
}

#pageDiv {
    flex: 1;
    background-color: #fff5e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameDiv {
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 5;
    background-color: var(--game-area-bg-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

/* Handle portrait mode */
@media (orientation: portrait) {
    /* #gameDiv {
        width: 100%;
        height: auto;
    } */
}

/* Handle landscape mode */
@media (orientation: landscape) {
    #gameDiv {
        height: 100%;
        width: auto;
    }
}

.rowOfSquares, #scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
}

#scoreboard {
    flex-direction: column; /* Stack rows vertically */
}

.scorebug {
    flex-direction: column;
}

.scorebugText {
    background-color: rgba(255, 192, 203, 0.5);
    width: 80%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.scorebugIcon {
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    aspect-ratio: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.rectangleInRow {
    flex: 1;
    aspect-ratio: .8;
    background-color: var(--teammate-bg-color);
    border: 1px solid var(--teammate-border-color);
    margin: 0;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.squareInRow {
    flex: 1;
    aspect-ratio: 1;
    background-color: var(--teammate-bg-color);
    border: 1px solid var(--teammate-border-color);
    margin: 0;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

#pokeTeam .teammate img {
    pointer-events: none; /* Prevent interaction with the image */
}

.teammate-active {
    background-color: green !important;
}

.scorebugIcon-active {
    background-color: lightgreen !important;
}
